
html {
  background-image: url("https://github.com/9nnative/HTMLCSS/blob/master/HTML_CSS/Sites/10.06.2020.NI/background.jpg?raw=true");
}
  /* fonts */

  @font-face {
    font-family: "Oswald-regular";
    src: url('https://github.com/9nnative/HTMLCSS/blob/master/HTML_CSS/Sites/10.06.2020.NI/Oswald-Light.ttf');
  }
  body {
    font-family: "Oswald-Regular";
  } 
  body {
    font-family: "Ma Super Fonte", Helvetica, Arial, sans-serif, bold;
  }
  h1 {
    /* Utilisera MaSuperFonte-Bold.ttf */
    font-style: normal;
    font-weight: bold;
  }
  h2 {
    /* Utilisera MaSuperFonte-Italic.ttf */
    font-weight: normal;
  }
  h3 {
    /* Utilisera ??? (fonte bold italic non chargée!) */
    font-weight: bold;
  }
  p {
    /* Utilisera MaSuperFonte-Regular.ttf */
    font-style: normal;
    font-weight: normal;
  }

/* HEADER */
#logo{
  height:150px;
}
.menuclass {
  overflow: hidden;
  padding-top: 93px;
  padding-left: 100px;
}

.menuclass a {
  float: left;
  color: #000000;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 3px solid #021a40;
  transition: transform .2s; 
}

  /* Couleur passage souris */
.menuclass a:hover {
  background-color: rgb(88, 178, 206);
  color: rgb(255, 255, 255);
  size: 120%;
  transform: scale(0.92); /* (petit dézoom) */
}


.menuclass a.active {  /* (lien actif) */
  background-color:  rgba(105, 243, 135, 0.521);
  color: white;
}

main {
  position: relative;
  top: -26px;
  width: 1250px;
  height : 900px;

}

#logo {
  float : left;
  position: relative;
  right: -2em;
}

#banner {
  height: 300px;
  border: 3px solid #021a40;
  width: 1400px;
}

a {
  border-right: 3px solid #bbb;
  margin: 20px;
}

#infos {
  position:relative;
  top:-41px;
  left: 4px;
  background-color: rgba(27, 27, 27, 0.644);
  opacity: 0.86;
  color : white;
 }

 body {
   width: 1250px;
   height: 1200px;
   position:relative;
 }




 #divbanner {
  transition: transform .2s; 
  width: 1400px;
  height: 300px;
  margin: 0 auto;
}

#divbanner:hover {
  transform: scale(0.98); /* (petit dézoom) */
}

/* MAIN */

article {
  margin-top: 50px;
  width: 900px;
  position: absolute;
  top: 5em;
}

#logo2 {
  width: 120px;
  height: 72px;
  border: 2px solid #021a40;
  position: relative;
  bottom : 6em;
}

h1 {
  float: right;
  position:relative;
  bottom: 4.5em;
  padding-right: 10em;


}

#text{
  font: 18px Arial, sans-serif;
  position:relative;
  bottom:6em;

}
#text2{
  font: 18px Arial, sans-serif;
  position:relative;
  top: 50px;
  margin:0px;


}
aside{
  float: right;
  width: 340px;
  height: 600px;
  position:relative;
  left : 9.5em;
  top : 3em;
  border: 3px solid black;
  padding-left: 5px;
  background-color:  rgba(105, 243, 135, 0.521);
}


#apropos{

  text-align: center;
  margin: 0px;
  margin-top: 10px;

}

/* ICONES SOCIAL MEDIA */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border: 3px solid black;
  margin: 5px;


}
.fa-twitter {
  background: #55ACEE;
  color: white;
  border: 3px solid black;
  margin: 5px;

}
.fa-youtube {
  background: rgb(224, 39, 39);
  color: white;
  border: 3px solid black;
  margin: 5px;

}
#socialmedianav{
  text-align: center;
  height:100px;
  width:340px;
  margin-left:-5px;
  position: relative;
  top: 60px;
}

#imgapropos{
  height:200px;
  width:150px;
  position: relative;
  left: 85px;
  top: 30px;
}

iframe{
  position: absolute;
  top:14.5em;
}
/* FOOTER */

footer{
  border: solid 3px black;
  position: absolute;
  top : 71em;
  height:300px;
  width:1400px;
}

#newsletter{
  border: solid 3px black;
  height:250px;
  width: 436px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#galerie{
  height:250px;
  width: 436px;
  position: absolute;
  top: 20px;
  left: 476px;
}

#partenaires{
  border: solid 3px black;
  height:250px;
  width: 436px;
  position: absolute;
  top: 20px;
  left: 932px;
}

#navpartenaires{
text-align: center;
position: relative;

}

#logoableton{
  height: 10em;
  width: 21em;
  position: relative;


}
#logoableton:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  size: 120%;
  transform: scale(0.92); /* (petit dézoom) */
}
#logoflstudio{
  height: 4em;
  width: 4em;
  position: relative;
  bottom : 3em;
  right : 2em;

  border: solid 3px black;
}
#logoflstudio:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  size: 120%;
  transform: scale(0.92); /* (petit dézoom) */
}
#logokorg{
  height: 7em;
  width: 9em;
  position: relative;
  left: 1em;
  bottom: 2em;

}
  #logokorg:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    size: 120%;
    transform: scale(0.92); /* (petit dézoom) */
  }

#newsletter{

  background-color: rgba(105, 243, 135, 0.521);
}

label {
  display: block;
  font: .9rem 'Fira Sans', sans-serif;
  position: relative;
  left: 1em;
}

input[type='submit'],
label {
  margin-top: 1rem;
  position: relative;
  left: 1em;
}

#email{

  position: relative;
  left: 2em;
}

#imgmail{

  height: 5em;
  width: 5em;
  float: right;
  padding-right : 2em;
  padding-top : 2em;
}

#username{
  position: relative;
  left: 2em;
}

#signin{
  position: relative;
  left: 2em;
}

#pnewsletter{
  text-align: center;
}
#boutonnewsletter{
  position: relative;
  left: 2em;
  bottom: 1em;
}
