
  html {
    background-color: rgb(255, 255, 255);
    font: small-caps bold 24px/1 sans-serif;
  }
  

/* HEADER */

.menuclass {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding-top: 93px;
  padding-left: 100px;
}

.menuclass a {
  float: left;
  color: #000000;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 3px solid #021a40;
  transition: transform .2s; 
}

  /* Couleur passage souris */
.menuclass a:hover {
  background-color: rgb(88, 178, 206);
  color: rgb(255, 255, 255);
  size: 120%;
  transform: scale(0.92); /* (petit dézoom) */
}


.menuclass a.active {  /* (lien actif) */
  background-color: rgb(206, 140, 206);
  color: white;
}

main {
  position: relative;
  top: -26px;
}

#logo {
  float : left;
  border:3px solid #021a40;

}

#banner {
  height: 300px;
  border: 3px solid #021a40;
  width: 1400px;
}

a {
  border-right: 3px solid #bbb;
  margin: 20px;
}

#infos {
  position:relative;
  top:-55px;
  left: 4px;
  background-color: grey;
  opacity: 0.66;
 }

 body {
   width: 1250px;
   height: 1200px;
   position:relative;
 }




 #divbanner {
  transition: transform .2s; 
  width: 1400px;
  height: 300px;
  margin: 0 auto;
}

#divbanner:hover {
  transform: scale(0.97); /* (petit dézoom) */
}

/* MAIN */

article {
  margin-top: 50px;
  width: 900px;
}

#logo2 {
  width: 120px;
  height: 72px;
  border: 3px solid #021a40;
}

h1 {
  float: right;
  position:relative;
  left: 140px;
  top: -110px;
  border: 3px solid black;
  padding-right: 5px;


}

#text{
  font: 18px Arial, sans-serif;
  position:relative;
  bottom:120px;

}
#text2{
  font: 18px Arial, sans-serif;
  position:relative;
  top: 50px;
  margin:0px;


}
aside{
  float: right;
  width: 340px;
  height: 600px;
  position:relative;
  right: -155px;
  bottom: 340px;
  border: 3px solid black;
  padding-left: 5px;
  background-color: rgb(206, 140, 206);
}

#apropos{

  text-align: center;
  margin: 0px;
  margin-top: 10px;

}

/* ICONES SOCIAL MEDIA */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border: 3px solid black;
  margin: 5px;


}
.fa-twitter {
  background: #55ACEE;
  color: white;
  border: 3px solid black;
  margin: 5px;

}
.fa-youtube {
  background: rgb(224, 39, 39);
  color: white;
  border: 3px solid black;
  margin: 5px;

}
#socialmedianav{
  text-align: center;
  height:100px;
  width:340px;
  margin-left:-5px;
  position: relative;
  top: 60px;
}

#imgapropos{
  height:200px;
  width:150px;
  position: relative;
  left: 85px;
  top: 30px;
}

/* FOOTER */

footer{
  border: solid 3px black;
  position: absolute;
  bottom: -500px;
  height:300px;
  width:1400px;
}

#newsletter{
  border: solid 3px black;
  height:250px;
  width: 436px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#galerie{
  border: solid 3px black;
  height:250px;
  width: 436px;
  position: absolute;
  top: 20px;
  left: 476px;
}

#partenaires{
  border: solid 3px black;
  height:250px;
  width: 436px;
  position: absolute;
  top: 20px;
  left: 932px;
}