
  html {
    background-color: rgb(255, 255, 255);
    font: small-caps bold 24px/1 sans-serif;
  }

   /* Menu */

    /* Je rajoute un background */
.menuclass {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding-top: 93px;
  padding-left: 100px;
}

  /* Stylisation du texte */
.menuclass a {
  float: left;
  color: #000000;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 3px solid #021a40;
}

  /* Couleur passage souris */
.menuclass a:hover {
  background-color: rgb(88, 178, 206);
  color: rgb(255, 255, 255);
}

  /* Lien actif */
.menuclass a.active {
  background-color: rgb(133, 78, 179);
  color: white;
}

#logo {
  float : left;
  border:3px solid #021a40;
}

#banner {
  height: 300px;
  border: 3px solid #021a40;
  margin-top: 30px;
  width: 1400px;
}

a {
  border-right: 3px solid #bbb;
  margin: 20px;
}

#infos {
  position:relative;
  top:-55px;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  left: 15px;
 }

 button {
   float: right;
   position:relative;
   top:-110px;
   size: 2em;
   font: small-caps bold 24px/1 sans-serif;
 }

 body {
   width: 1400px;
 }